/* New Style */

.top-bar {
  width: 100%;
  height: 52px;
  background-color: grey;
  border-bottom: 3px solid black;
}
.top-text {
  margin: 0px;
  text-align: center;
  font-weight: bold;
  height: 52px;
  line-height: 52px;
  color: black;
}
.top-text:hover {
  color: white;
}

#grand-container {
  width: 100%;
  height: calc(100vh - 55px);
  overflow-y: scroll;
}
